Repository hangeul-project/hangeul-react-web, pull requests merged in 2021-09, with the labels that each got.

#44 Revise Page4 Design & Struct Page4-1
  package-lock.json
  src/component/Page1/Page1.js
  src/component/Page4/Page/Page4_css/page4.css
  src/component/Page4/component/img.png
  src/component/Page4/component/page4.js
  src/component/Page4/component/page4.jsx
  src/component/Page4/component/page4s.js
  src/component/Page4/img/background.png
  src/component/Page4/img/background_nav.jpeg
  src/component/Page4/img/img.png
  src/component/Page4/img/nav.jpeg
  src/component/Page4/img/text_back.png
  src/component/Page4/img/text_back_line.png
  src/component/Page4/img/text_back_line2.png
  src/shared/App.js
Labels: bug, enhancement, good first issue, design, page4

#48 Revise CSS Page 3 for Quiz
  src/component/Page1/Page1.css
  src/component/Page1/Page1.js
  src/component/Page2/Page2.css
  src/component/Page3/Page3 copy.js
  src/component/Page3/Page3.css
  src/component/Page3/Page3.js
  src/component/Page3/img/sejong.png
  src/component/Page3/img/sejong_1.png
  src/component/Page3/img/text_back.png
  src/component/Page4/Page/Page4_css/page4.css
  src/main/Router.js
  src/shared/App.js
Labels: bug, enhancement, design, page3

#49 Feat/#25 revise page2
  .eslintrc.js
  public/manifest.json
  src/component/Page1/Page1.css
  src/component/Page1/Page1.js
  src/component/Page2/Page2.css
  src/component/Page2/Page2.js
  src/component/Page3/Page3 copy.js
  src/component/Page3/UI/AnswerButton.js
  src/component/Page3/UI/QuizContainer.js
  src/component/Page4/component/page4s.js
  src/shared/App.js
Labels: bug, enhancement, page1, page2, page3

#51 Revise Page 1,2,3 and Bug fix
  src/component/Page1/Page1.css
  src/component/Page1/Page1.js
  src/component/Page2/Page2.css
  src/component/Page2/Page2.js
  src/component/Page2/pg2_img/crow.png
  src/component/Page3/Page3.css
  src/component/Page3/Page3.js
  src/component/Page3/UI/QuizContainer.css
  src/main/Scroll.css
  src/shared/NavBar.css
Labels: bug, enhancement, page1, page2, design, page3

#57 Convert FlexBox Page1~Page2 & Revise Page3
  src/component/Page1/Page1.css
  src/component/Page1/Page1.js
  src/component/Page2/Page2.css
  src/component/Page2/Page2.js
  src/component/Page3/Page3.css
  src/component/Page3/Page3.js
  src/component/Page4/img/bg.png
  src/shared/App.js
Labels: bug, enhancement, page1, page2, design, page3

#58 Revise Page4 mediaquery
  src/component/Page1/Page1.css
  src/component/Page4/Page/Page4_css/page4.css
  src/component/Page4/component/page4.js
  src/shared/App.js
Labels: design, page4
